

<div appDropdown class="dropdown">
  <button 
    class="btn btn-primary dropdown-toggle" 
    id="about-us" 
    type="button" 
    (click)="toggleSearchInput()"
  >
    Select City 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <input 
      type="text" 
      class="form-control" 
      placeholder="Search for a city" 
      [(ngModel)]="searchQuery"
      (click)="onClickInput($event)"
      (input)="filterCities()"
      >
    </li>
    <li *ngFor="let city of filteredCities">
      <a (click)="onClick(city)" href="#">
        <img 
          src="{{city.icon}}" 
          alt="" 
          class="weather-img"
        > 
        {{city.name}}
      </a>
    </li>
  </ul>
</div>


