body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  /* padding: 20px; */
}

.dropdown-menu {
  min-width: 200px !important;
  margin-left: 1.8%;
  overflow-y: auto !important;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu li:last-child a {
  border-bottom: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.weather-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}



.btn-primary {
  padding: 10px 60px;
  /* background-color: rgb(52, 139, 189); */
  background-color: cadetblue;  
}

.dropdown {
  width: 100px;
}

.dropdown-menu li {
  padding: 5px 10px;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu {
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #b16b6b;
  border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}