<div class="Main" *ngIf="isTrue" 

>
  <div class="weather-container"
  [ngStyle]="{'background-image': 'url(' + city.backgroundImage + ')', 
              'background-size': 'cover', 
              'background-position': 'center', 
              'background-repeat': 'no-repeat',
              'color':'#0ab8c6'}"
  >
    <h3><span id="weather-condition">{{ city.condition }}</span></h3>
    <p><span id="city-name">{{ city.name }}</span></p>
    <h3><span id="temperature">{{ city.temperature }}&deg;C</span></h3>
    <div id="weather-icon">
      <app-weather-icon [cityIcon]="city.icon"></app-weather-icon>
    </div>
  </div>
</div>

<div class="Main" *ngIf="!isTrue">
  <div class="weather-container weather-container-center">
    <div class="row ">
      <div class="col-md-12">
        <strong>Welcome to Weather Dashboard.</strong>
      </div>
      <div class="col-md-12">
        <h5 style="color: rgb(12, 11, 11);">Please select a city for weather details.</h5>
      </div>
    </div>
  </div>
</div>
